@model Senai.Chamados.Web.ViewModels.Grafico.ListaGraficoViewModel
@using Senai.Chamados.Web.Helpers
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="jumbotron">
	<div class="container">
		<h1>Tela de Graficos</h1>
		<p>Visualize todas as informações da sua operação rapidamente</p>
		<img src="~/Content/img/graficos.jpg" alt="Alternate Text" />
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Gráficos de Status</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6">
				<canvas id="pie-chart-status" width="800" height="450"></canvas>
			</div>
			<div class="col-lg-6">
				<canvas id="bar-chart-status" width="800" height="450"></canvas>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Gráficos de Setor</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6">
				<canvas id="pie-chart-setor" width="800" height="450"></canvas>
			</div>
			<div class="col-lg-6">
				<canvas id="bar-chart-setor" width="800" height="450"></canvas>
			</div>
		</div>
	</div>
</div>


@section Scripts{

	<script src="~/Scripts/Chart.min.js"></script>
	<script src="~/Scripts/Chart.Util.js"></script>

	<script type="text/javascript">
        $(document).ready(function () {

            @Html.GerarGraficoChart("bar-chart-status", 
										Html.Raw(Json.Encode(Model.GraficoStatus.Labels)), 
										Html.Raw(Json.Encode(Model.GraficoStatus.Data)), 
										"bar", "Grafico de Barra por Status")


			 @Html.GerarGraficoChart("pie-chart-status",
										Html.Raw(Json.Encode(Model.GraficoStatus.Labels)),
										Html.Raw(Json.Encode(Model.GraficoStatus.Data)),
										"pie", "Grafico de Pizza por Status")

             @Html.GerarGraficoChart("bar-chart-setor",
										Html.Raw(Json.Encode(Model.GraficoStatus.Labels)),
										Html.Raw(Json.Encode(Model.GraficoStatus.Data)),
										"bar", "Grafico de Barra por Setor")

            @Html.GerarGraficoChart("pie-chart-setor",
										Html.Raw(Json.Encode(Model.GraficoStatus.Labels)),
										Html.Raw(Json.Encode(Model.GraficoStatus.Data)),
										"pie", "Grafico de Pizza por Setor")

        });
	</script>
}